header{
	text-align: right;
	padding: 10px;
	margin: 10px;
	font-family: "Courier New";
	font-style: italic;
	font-size: 20px;
}

body {
	background-color: #8DAD9D; 
}

.menu {
  display: flex; 
  justify-content: space-around;
  align-items: center; 
  padding: 10px;
  text-align: center;
  list-style: none;
  font-size: 30px; 
  line-height: 60px;
  font-family: "Courier New";
  border-radius: 20px; 
  margin: 10px;
  background-color: white;
}

.menu a {
  color: pink;
  text-decoration: none;
}

.menu a:hover {
  background-color: tan;
  color: white; 
}

.bg-image{
  background-image: url("bojack.png");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

.contact {
  padding: 0;
  margin: 0;
  font-family: "Courier New";
  justify-content: space-around;
}

ul {
  text-align: center;
}

.contact li {
  display: flex;
  margin: 10px;
	text-align: center;
	display: inline-block;
	justify-content: space-around; 
	background-color: pink;
	width: 150px;
	margin-top: 50px;
}

.contact li a {
	color: black; 
	text-decoration: none;
	display: block;/
	width: 100%;
}

.contact li a:hover{
    color: pink;
    background-color: tan;
}

@keyframes slidein {
    from {background-color: pink;}
    to {background-color: tan;}
}

.box{
  float: center;
  border-radius: 20px; 
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-family: "Courier New";
  width: 500px;
  margin-top: 10px;
  margin-left: 265px;
  font-size: 20px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
.one {
  background-color: tan;



